---
title: index
---

<div class="docs-list">
    <ul>
        {% assign grouped = site.docs | group_by: 'category' %}
        {% for group in grouped %}
        <li class="nav-item top-level {% if group.name == page.category %}current{% endif %}">
            {% assign items = group.items | sort: 'order' %}
            <a href="{{ site.baseurl }}{{ items.first.url }}"><h4>{{ group.name }}</h4></a>
            <ul>
                {% for item in items %}
                {% if item.filename != 'index' %}
                <li class="nav-item2 {% if item.url == page.url %}current{% endif %}">
                    <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a> <span class="my-date">{{ item.date | date: "%Y-%m-%d" }}</span>
                </li>
                {% endif %}
                {% endfor %}

            </ul>
        </li>
        {% endfor %}
    </ul>
</div>